<html>
  <head></head>
  <style>
    body {
      background: <%= color %>;
    }
  </style>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>